body{
    font-family: 'Noto Sans', sans-serif;
}
span{
    color: crimson;
}
h1{
    font-size: 50px;
    font-weight: 800;
}
.display-flex{
    display: flex;
    margin-bottom: 0;
}
.header img{
width: 85%;
}
.header{
    margin-left: 20px;
    margin-top: 80px;
}
a{
    text-decoration: none;
    background: linear-gradient(crimson,tomato);
    border-radius: 20px;
    text-align: center;
    padding: 15px 45px;
    color: yellow;
}
.About-me{
    display: flex;
}
.About-me{
    background-image: url(images/shapes/7.png);
}
.img img{
    width: 20%;
}
.img h2{
    text-align: right;
}
.img h3{
    text-align: right;
}
.number a{
    text-align: end;
}
.recepies{
    text-align: center;
}
.my-recep{
    text-align: center;
}
.conteinar-1{
    display: flex;
}
.conteinar-1 div{
padding: 20px;
width: 25%;
margin-left: 5%;
margin-right: 5%;
padding-left: 20px;
border-radius: 15px;
box-shadow: 10px 10px 40px gainsboro;
}
.conteinar-1 img{
    width: 50%;

}
.conteinar-2{
    display: inline-flex;
    margin-left: 35%;
    margin-right: 25%;
}
.conteinar-2 div{
    width: 205%;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 10px 10px 40px gainsboro;
}
footer{
    color: rgb(238, 180, 20);
    text-align: center;
    padding: 40px;
    padding-bottom: none;
    background-color: lightslategrey;
}