body{
    font-family: 'Noto Sans', sans-serif;
}
span{
    color: crimson;
}
h1{
    font-size: 50px;
    font-weight: 800;
}
.display-flex{
    display: flex;
    margin-bottom: 0;
}
.header img{
width: 85%;
}
.header{
    margin-left: 20px;
    margin-top: 80px;
}
a{
    margin-top: 20%;
    text-decoration: none;
    background: linear-gradient(crimson,tomato);
    border-radius: 20px;
    text-align: center;
    padding: 15px 45px;
    color: yellow;
}
.number{
    padding-top: 5%;
}
.About-me{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(images/shapes/7.png);
}
.About-me img{
    width: 20%;
}
.recepies{
    text-align: center;
}
.my-recep{
    text-align: center;
}
.conteinar-1{
    display: flex;
}
.conteinar-1 div{
padding: 25px;
width: 20%;
margin-left: 5%;
margin-right: 5%;
padding: 25px;
border-radius: 15px;
box-shadow: 10px 10px 20px 20px gainsboro;
}
.conteinar-1 img{
    width: 99%;
    height: 45%;

}
.conteinar-2{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
    margin-bottom: 45px;
    
}
.conteinar-2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    margin-top: 10%;
   padding: 1%;
   padding-top: 1%;
    border-radius: 15px;
    box-shadow: 10px 10px 40px 40px gainsboro;
}
footer{
    color: rgb(255, 251, 0);
    text-align: center;
    padding: 40px;
    padding-bottom: none;
    background-color: lightslategrey;
}
.contact{
    padding-top: 20%;
}